token: {{ k3s_cluster_token }}

{% if k3s_node_label %}
node-label:
{% for label in k3s_node_label %}
- "{{ label }}"
{% endfor %}
{% endif %}

{% if k3s_node_seed and not k3s_node_running %}
cluster-init: true
{% endif %}

{% if not k3s_node_seed %}
server: https://{{ k3s_cluster_seed_endpoint }}:6443
{% endif %}

{% if k3s_node_role == 'server' %}
write-kubeconfig-mode: "0644"
{% endif %}
